/* Standard syntax */
@keyframes test {
  0%   {left:100%; top:0px;}
  100% {left:0px; top:0px;}
}

.avengers-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.avenger-page-container {
  display: flex;
  flex-direction: column;
}

.avenger-page-img {
  width: 100%;
  position: relative;
  animation-name: test;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

.avenger-page-img:hover {
  transform: scale3d(3);
}

.avenger-card {
  background: white;
  width: 30%;
  max-width: 285px;
  min-width: 240px;
  margin: 30px 1%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 2.7s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.avenger-card:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: scale(1.2);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  /* transition: ease-in-out; */
}

.avenger-thumb {
  width: 90%;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 5px 5px 100px gray;
}