html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.button-purple {
  background-color: #593196;
  height: 60px;
  margin: 20px auto;
  padding: 20px 40px;
  color: white;
  font-size: 18px;
  border-radius: 15px;
}

.button-purple:hover {
  background-color: #9f78dd;
}